/node_modules
/public/hot
/public/storage
/public/css/site.css
/public/js/site.js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.DS_Store
.php-cs-fixer.cache
docker-compose.override.yml
